html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

header{
	width: 100%;
}

h1{
	color: white;
	margin: 30px 100px;

}

nav{
	z-index: 2;
}

p{
	text-align: justify;
}

nav ul{
	display: flex;
	flex-direction: row;
}

nav ul li{
	line-height: 35px;
	width: 130px;
	list-style-type: none;
	color: white;
	margin-left: 55px;
	text-align: center;
	border-radius: 15px;
	
}

nav ul li:hover{
	color: #6EC76C;
	font-weight: bold;
	transition: color 0.3s;
	cursor: pointer;

}




#accueilPhoto1{
	position: relative;
	top: -190px;
	background-image: url("../Img/DSC_2344.jpg");
	height: 800px;
	background-size: 100%;
	margin-bottom: -190px;
	z-index: -3 ;
}



.text{

	min-height: 150px;
	width: 100%; 
}

.text p{
	display: block;
	width: 75%;
	margin: 50px auto;
}

#accueilPhoto2{
	background-image: url("../Img/DSC_2313.jpg");
		height: 800px;
	background-size: 100%;
}

#accueilPhoto3{
		background-image: url("../Img/DSC_2320.jpg");
		height: 800px;
	background-size: 100%;
}

#accueilPhoto4{
		background-image: url("../Img/DSC_2391.jpg");
		height: 800px;
	background-size: 100%;
}

#top-page-button{
	position: fixed;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
	top : 5%;
	left: 45%;
	background-color: rgb(0,0,0);
	color: white;
	transition: all 1s;
	display: none;
}

#top-page-button p{
	font-size: 0.7em;
}

#top-page-button:hover{
	cursor: pointer;
}

#overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	/*cursor: pointer;*/
	display: none;
	color: white;
}

#infoclique{
	border: solid 1px white;
	display: inline-block;
	padding: 0 15px 0 15px;
	position: fixed;
	top: 90%;
	left: 43%;
	font-size: 0.7rem;
}

.case-overlay{
	min-height: 75%;
}

#presentation{
	border: solid 1px white;
	display: inline-block;
	position: fixed;
	top: 10%;
	left: 5%;
}

#presentation h2, #contact h2{
	text-align: center;
}

#presentation article{
	display: flex;
	flex-direction: row;
}

#presentation figure img{
	height: 150px;
	width: 150px;
	border-radius: 100px;
}

#presentation figure figcaption{
	text-align: center;
}

#presentation p{
	text-align: justify;
	display: block;
	width: 350px;
	margin: 10px auto;
	line-height: 25px;
}

#contact{
	border: solid 1px white;
	display: inline-block;
	position: fixed;
	top: 10%;
	right: 5%;
}

#contact p{
	width: 350px;
	margin: 20px 50px;
	line-height: 25px;
	text-align: justify;
}

.reservation-button{
	color: rgba(255,2555,255,1);
	border-radius: 30px;
	font-size: 1.7em;
	width: 200px;
	line-height: 70px;
	text-align: center;
	background-color: rgba(137, 250, 38, 0.95);
	transition: all 1s;
}

.reservation-button:hover{
	background-color: rgba(201, 0, 140, 0.9);
	transition: all 1s;
	cursor: pointer;
	display: block;

}
#overlay-reservation-button{
	margin: 30px auto;
}
#homepage-reservation-button{
	position: fixed;
	bottom: 10%;
	right: 5%;
	/*box-shadow: rgba(201, 0, 140, 0.9)  5px 5px;*/
}