html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    background: url("../Img/DSC_2344.jpg") no-repeat;
    background-size: 100%;
}

header{
    width: 100%;
}

h1{
    color: white;
    margin: 30px 100px;

}

#nwuserform{
    width: 500px;
    padding: 10px;
    margin: 10% auto;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-radius: 30px;
}

.box{

}

.box p{

}

.box input{
    width: 300px;
    border-radius: 5px;
    border: 1px gray solid;
}

#sendbutton{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px black solid;
}

#sendbutton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
